footer {
  margin-top: 150px;
  padding: 50px 0;

  background-image: url('@/assets/img/top__title_line.png');
  background-color: rgba(0, 107, 232, 1);

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  .footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 32px;
        margin-right: 16px;
      }

      &__titles {
        display: flex;
        flex-direction: column;
        justify-content: center;

        strong {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          max-width: 250px;
          text-transform: uppercase;
          color: #fff;
        }

        span {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }

    .navBar {
      position: relative;
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        padding: 30px 0;
      }

      &__colapse {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 24px;
          @media (max-width: 767px) {
            margin-right: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            position: relative;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #fff;
            padding: 16px 8px;

            &:hover {
              color: #fff;
              font-weight: 700;
            }
          }
        }
      }
    }

    .tools {
      display: flex;
      align-items: center;

      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 100px;
        margin-right: 10px;
        transition: 0.5s ease;
        box-sizing: border-box;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border: 1px solid #fff;
        }
      }
    }
  }

  .post__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.48);
    margin-top: 30px;
  }
}