.navigations {
  &__links {
    padding: 16px 0;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &.home {
        margin-right: 30px;
        margin-left: 72px;

        img {
          margin: 0;
        }
      }

      &.link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.8);
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        &:hover, &.active {
          color: #0066CC;
        }
      }
    }

    img {
      margin-right: 16px;
    }
  }
}