.news {
  padding-top: 100px;

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    svg {
      path {
        stroke: #000;
      }
    }
  }

  .my__newsCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    transition: 0.5s ease;
    &:hover {
      transform: translateY(-2px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      img {
        transform: scale(1.1);
      }
    }


    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 26px;
      flex-grow: 1;

      strong {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
        color: #4c94db;
        margin-bottom: 23px;
      }

      p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #6274a3;
        margin-bottom: 20px;
      }
      .text-wrap {
        flex-grow: 1;
      }
    }
  }
}